.python-version
#*
*~
*#
.#*
__pycache__
kdb/__pycache__
**.kdb
docs/generated/
examples/example_report/*.png
examples/example_report
test/data
kmerdb.egg-info/
kmerdb.log
test.*
build
dist
.reinstall.sh
examples/*/*.png
examples/*/*.jpg






