.python-version
#*
*~
*#
.#*
__pycache__
kdb/__pycache__
**.kdb
examples/example_report/bioRxiv-template.bbx
examples/example_report/bioRxiv-template.log
examples/example_report/bioRxiv-template.pdf
examples/example_report/bioRxiv-template.tex
examples/example_report/bioRxiv-template_files/
examples/example_report/bioRxiv_official_template.tex
examples/example_report/biorxiv.sty
examples/example_report/index.html
examples/example_report/index.log
examples/example_report/index.pdf
examples/example_report/index.tex
examples/example_report/index_files/
examples/example_report/normalized_pearson_dist.tsv
examples/example_report/peerj-template-test.tex
examples/example_report/peerj.log
examples/example_report/preprint-template/
examples/example_report2/kmeans_clustering_of_kmer_profiles.png
examples/example_report2/kmeans_elbow_graph.png
examples/example_report/*.png
build/
dendrogram.png
dist/
examples/img/
examples/reports/
kmerdb.egg-info/
test.fa
test.stats.json
test/data
