[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pyyaml = "*"
jsonschema = "*"
psutil = "*"
cython = "*"
biopython = "*"
scipy = "*"
scikit-learn = "*"
matplotlib = "*"
pandas = "*"
pytest = "*"
coverage = "*"
pytest-cov = "*"
codecov = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.7"
